<div class="ratio ratio-16x9">
    <iframe src="https://player.twitch.tv/?video={{ run.video |split('videos/')|last }}&parent=localhost&autoplay=false"
            frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
</div>