<div class="row userFields mt-3">
    {# https://symfony.com/bundles/ux-autocomplete/current/index.html#custom-autocompleter #}
    <div class="col-12">Runner {{ pointer+1 }} *</div>
    <select class="col-12 col-md-6" name="fields[users.{{ pointer }}]" id="" {{ stimulus_controller('symfony/ux-autocomplete/autocomplete',
        { url : path('ux.entity_autocompleter', { alias: 'users' } ) } ) }}>
    </select>
</div>