#gameWrapper {
    #moderationActions{
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        border-radius: 5px;
    }
    #cardGameRow {
        #cardGame {

            padding: 9px 0 45px;

            #gameInfo {
                background-color: rgba(0, 0, 0, 0.4);
                display: flex;
                padding: 10px;
                column-gap: 15px;
                border-radius: 5px;

            }


        }
    }
}