{% extends 'base.html.twig' %}

{% block title %}Edit Supports{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1>Edit {{ support.name }}</h1>

        {{ include('supports/_form.html.twig', {'button_label': 'Update'}) }}

    </div>

{% endblock %}
