{% extends 'base.html.twig' %}

{% block title %}List Supports{% endblock %}

{% block body %}
    <div class="container mt-5">

        <h1>List Supports</h1>

        <div class="d-flex justify-content-end mt-4 mb-3">
            <a class="btn-validation btn" href="{{ path('app_supports_new') }}">Create new</a>
        </div>

        <table id="tableCategories" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for support in supports %}
                    <tr class="rowLeaderboard noPointer">
                        <td>{{ support.name }}</td>
                        <td class="text-center">
                            <a class="btn btn-primary" href="{{ path('app_supports_edit', {'id': support.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">no supports found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
