{% extends '../base.html.twig' %}

{% block title %}New Supports{% endblock %}

{% block body %}
    <h1>Create new Supports</h1>

    {{ include('supports/supports/_form.html.twig') }}

    <a href="{{ path('app_supports_supports_index') }}">back to list</a>
{% endblock %}
