@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.h1Home{

    margin-top: 50px;
    span{
        font-family: 'Orbitron', sans-serif;
        font-size: 5.5rem;
    }
    /*span:first-child{
        font-size: 85px;
    }
    span:nth-child(2){
        font-size: 80px;
    }*/
}

//Search Result
.searchGame{
    .searchName{
    }
}
@media (max-width: 575px) {
    .h1Home{
        span{
            font-size: 3.5rem;
        }
    }
}
